<div class="puppy-image-container">
  <h2>Schedule a Play Date</h2>
  <%= image_tag @puppy.image, class: "puppy-image" %>
</div>
<%= form_for [@puppy, @play_date], html: {class: "play-date-form"} do |f| %>
  <div class="form-input">
    <%= f.label :date %>
    <%= f.datetime_field :date %>
  </div>
  <div class="form-input">
    <%= f.label :guest_count, "Number of people attending" %>
    <%= f.number_field :guest_count %>
  </div>
  <div class="form-submit">
    <%= f.submit "Schedule" %>
  </div>
<% end %>